<mat-toolbar color="primary" class="block-toolbar">

  <button mat-icon-button  (click)="OnBack()" *ngIf="this.authService.etat_problematique">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span class="example-spacer"></span>

  <mat-form-field class="example-full-width">
    <input (keyup)="onSearchProb($event)"  [(ngModel)]="libelle_catprob" matInput placeholder="Rechercher" type="text"/>
  </mat-form-field>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>

</mat-toolbar>


<br/><br/><br/><br/>
<div id='block_spinner1'><mat-spinner *ngIf="this.problematiqueitemservice.afficher_spinner_probgen"  class="progressbar"></mat-spinner></div>
<mat-card class="example-card" *ngIf="!this.problematiqueitemservice.afficher_spinner_probgen">

  <app-problematique-item *ngFor="let prob of this.problematiqueitemservice.problematiquescat; let i = index"
                          [index]="i"
                          [name] = "prob.Libelle"
                          [id] = "prob.ID"
  >
  </app-problematique-item>


</mat-card>


<!--Mon FAB -->
<!--button mat-fab class="myfloattingbutton" color="primary">
    <mat-icon >add</mat-icon>
</button-->