.block-toolbar {
  position: fixed;
  top:0%;
  left:0%;
  right:0%;
  height:10%;
  z-index: 100;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-full-width{
  width: 100%;
}

.block-mat-list{
  margin-top:6%;
  background-color: white;
}

.title-size {
  font-size:15px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

.myfloattingbutton {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 100px;
}

.example-card {
  max-width: 800px;
  margin: auto;
}

//shimmer placeholder animation
.timeline-item {
  background: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  padding: 12px;
  margin: 0 auto;
  max-width: 800px;
  min-height: 200px;
}

@keyframes placeHolderShimmer{
  0%{
    background-position: -468px 0
  }

  100%{
    background-position: 468px 0
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  width:50px;
  height: 50px;
  border-radius:25px;
  position: relative;
}

.animated-background1 {
  position: relative;
  display:inline-block;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 20px;
  width:780px;
  float: right;
}