<mat-progress-bar mode="indeterminate" [ngStyle]="{'display':''+disparaitreprogressbar+''}"></mat-progress-bar>
<div  class="icon-block" [ngStyle]="{'display':''+disparaitreblock+''}">

    <div class="boss-image-premier">
    <div  class="icon-base" [ngStyle]="{'display':''+notreimage+''}">
        <img matRipple id="icon" [src]="imageSrc" />
    </div>

    <button mat-icon-button (click)="onpenFileBrowser($event)" [ngStyle]="{'display':''+notreimage+''}">
        <mat-icon color="primary">camera_alt</mat-icon>
    </button>
    </div>
    <!-- debut rogneur d'image -->
    <div class="boss-regis" [ngStyle]="{'display':''+blockcroping+''}">

        <div class="container"
             fxLayout
             fxLayout.xs="column"
             fxLayoutAlign="center"
             fxLayoutGap="10px"
             fxLayoutGap.xs="0">
            <div class="item item-1" fxFlex="20%"></div>
            <div class="item item-2" fxFlex="20%" fxFlexOrder="3"></div>
            <div class="item item-3" fxFlex="60%">


                <div *ngIf="cropping.isLoaded">
                    <button (click)="cropping.zoomIn()" mat-icon-button> <mat-icon>zoom_in</mat-icon> </button>
                    <button (click)="cropping.zoomOut()" mat-icon-button ><mat-icon>zoom_out</mat-icon></button>
                    <button (click)="cropping.rotate(90)" mat-icon-button><mat-icon>crop_rotate</mat-icon></button>
                    <button (click)="onpenFileBrowser($event)" mat-icon-button><mat-icon>add_a_photo</mat-icon></button>
                </div>

                <ly-cropping #cropping
                             [withClass]="classes.cropping"
                             [config]="myConfig"
                             [(scale)]="scale"
                             (cropped)="onCrop($event)">
                </ly-cropping>


                <div *ngIf="cropping.isLoaded" [className]="classes.range">
                    <input type="range" [className]="classes.rangeInput" [attr.min]="cropping.minScale" max="1" [(ngModel)]="scale" step="any">
                </div>

                <div>
                    <button *ngIf="cropping.isLoaded" mat-icon-button  (click)="cropping.crop()"> <mat-icon>crop</mat-icon></button>
                </div>
            </div>


            </div>
        </div>



    <!--fin du rogneur d'images-->

    <form [formGroup]="addphotoform">
        <input #fileInput id="tenantPhotoId" type="file" (change)="cropping.selectInputEvent($event)" formControlName="tenantPhotoId" accept="image/*" hidden>
    </form>
</div>





