.block {
  text-align: center;
}
.example-card {
  max-width: 400px;
  margin: auto;
}

.example-full-width {
  width: 90%;
}

#block-radio {
  width: 100%;
  text-align: left;
  margin-left: 5%;
}

#femmeradio {
  margin-left: 5%;
}

.error-color {
  color:#FF4444;
}

#block_progressbar {
  margin-top: 3%;
}

