.block-connexion {
  margin-top: 3%;
}

.example-card {
  max-width: 400px;
  margin: auto;
}

.icon-wazzaby
{
  max-width: 100px;
}

.block-icon
{
  margin: auto;
}

.connexion-form
{
  text-align: center;
}

.example-full-width {
   width: 90%;
 }
.example-full-width-check {
  width: 90%;
}

.divider-limiter
{
  width: 100%;
  height: 1px;
  background: #BDBDBD;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
}

.example-margin {
  margin: 0 5%;
}

