.block-toolbar {
  position: fixed;
  top:0%;
  left:0%;
  right:0%;
  height:10%;
  z-index: 100;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-card {
  max-width: 500px;
  margin: auto;
}


.example-header-image {
  background-size: cover;
}

.example-full-width {
  width: 100%;
}

.section {
  margin-top:3%;
}

