    <div id='block_spinner'>
        <mat-spinner *ngIf="afficher_spinner"  class="progressbar"></mat-spinner>
    </div>

    <mat-toolbar color="primary" class="block-toolbar1" *ngIf="!afficher_spinner">
            <div matRipple class="icon-block" (click)="OnProfil()" matTooltip="Cliquez ici pour consulter votre profil">
                <img  id="icon" src="{{photo_user}}"/>
            </div>
            <button mat-button (click)="OnProfil()" matTooltip="Cliquez ici pour consulter votre profil">
                <span>{{prenom}} {{nom}}</span>
            </button>
            <br/>
            <span class="example-spacer"></span>
            <button mat-icon-button (click)="OnclickNotification()" >
                <mat-icon matBadgeHidden="{{badgeshidden}}" matBadge="{{badgetaille}}" matBadgeColor="warn">notifications</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="OnProfil()">
                 <mat-icon id="icon-color">account_circle</mat-icon>
                 <span>Profil</span>
            </button>

            <button mat-menu-item (click)="RootToHistory()">
                <mat-icon>history</mat-icon>
                <span>Historique</span>
            </button>

            <button mat-menu-item disabled [ngStyle]="{'color':'#E0E0E0'}">
                  <mat-icon [ngStyle]="{'color':'#E0E0E0'}">settings</mat-icon>
                  <span>Parametres</span>
            </button>
            <button mat-menu-item disabled [ngStyle]="{'color':'#E0E0E0'}">
                  <mat-icon [ngStyle]="{'color':'#E0E0E0'}">help</mat-icon>
                  <span>A propos</span>
            </button>
            <button mat-menu-item  (click)="OnDeconnect()">
                  <mat-icon id="icon-color">power_settings_new</mat-icon>
                  <span>Deconnexion</span>
            </button>
            </mat-menu>
    </mat-toolbar>

    <mat-toolbar color="primary" class="block-toolbar2" *ngIf="!afficher_spinner">
            <div>
                <button mat-button (click)="OnclickProblematique()"
                        matTooltip="Cliquez ici pour changer de problematique"
                    >
                    <mat-icon>subject</mat-icon>
                    <span>{{problematique_libelle}}</span>
                </button>
            </div>
            <span class="example-spacer"></span>
            <mat-slide-toggle matTooltip="{{info_bulle}}"
                              (change)="ModeAnonymous($event)"
                              [checked]="this.checked_active_mode_anonymous"
                              [color]="this.color_anonymous">
            </mat-slide-toggle>
    </mat-toolbar>

    <mat-tab-group (selectedTabChange)="onLinkClick($event)" class="block-tabs" *ngIf="!afficher_spinner">
        <mat-tab>
            <ng-template  mat-tab-label >
                <mat-icon  [ngStyle]="{color:getColor(IconEtatColorPublicConver)}" class="example-tab-icon" id="icon-color">forum</mat-icon>
            </ng-template>
            <!--Mise en place du content1 -->
        <div class="container"
             fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="center"
            fxLayoutGap="10px"
            fxLayoutGap.xs="0">
            <div class="item item-1" fxFlex="20%"></div>
            <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
                <button mat-fab color="primary" class="fab" (click)="onDialogPublicConvert()"><i class="material-icons">edit</i></button>
            </div>
            <div class="item item-3" fxFlex="60%">
            <!--div id='block_spinner1'><mat-spinner *ngIf="afficher_spinner_messagepublic"  class="progressbar"></mat-spinner></div-->
            <!--div class="empty-message" *ngIf="empty_message">
                <br/>
                <span>{{error_message}}</span-->
            <div class="empty-message" *ngIf="empty_message" (click)="Reactualiser()">
               <br/>
               <mat-card class="card-error-message">
                  <mat-card-content>
                     <p><mat-icon class="block-error-message">block</mat-icon><span class="block-error-message"> {{this.error_message}}</span></p>
                  </mat-card-content>
               </mat-card>
            </div>

            <div class="timeline-wrapper" *ngIf="afficher_spinner_messagepublic">
                <br/>
                <div class="timeline-item">
                  <div class="animated-background">
                      <div class="background-masker header-top"></div>
                      <div class="background-masker header-left"></div>
                      <div class="background-masker header-right"></div>
                      <div class="background-masker header-bottom"></div>
                      <div class="background-masker subheader-left"></div>
                      <div class="background-masker subheader-right"></div>
                      <div class="background-masker subheader-bottom"></div>
                      <div class="background-masker content-top"></div>
                      <div class="background-masker content-first-end"></div>
                      <div class="background-masker content-second-line"></div>
                      <div class="background-masker content-second-end"></div>
                      <div class="background-masker content-third-line"></div>
                      <div class="background-masker content-third-end"></div>
                  </div>

                  <div class="animated-background2">
                      <div class="background-masker header-top"></div>
                      <div class="background-masker header-left"></div>
                      <div class="background-masker header-right"></div>
                      <div class="background-masker header-bottom"></div>
                      <div class="background-masker subheader-left"></div>
                      <div class="background-masker subheader-right"></div>
                      <div class="background-masker subheader-bottom"></div>
                      <div class="background-masker content-top"></div>
                      <div class="background-masker content-first-end"></div>
                      <div class="background-masker content-second-line"></div>
                      <div class="background-masker content-second-end"></div>
                      <div class="background-masker content-third-line"></div>
                      <div class="background-masker content-third-end"></div>
                  </div>
                  <br/>
                  <div class="animated-background1">
                      <div class="background-masker header-top"></div>
                      <div class="background-masker header-left"></div>
                      <div class="background-masker header-right"></div>
                      <div class="background-masker header-bottom"></div>
                      <div class="background-masker subheader-left"></div>
                      <div class="background-masker subheader-right"></div>
                      <div class="background-masker subheader-bottom"></div>
                      <div class="background-masker content-top"></div>
                      <div class="background-masker content-first-end"></div>
                      <div class="background-masker content-second-line"></div>
                      <div class="background-masker content-second-end"></div>
                      <div class="background-masker content-third-line"></div>
                      <div class="background-masker content-third-end"></div>
                  </div>
                  <br/>
                  <div class="animated-background1">
                      <div class="background-masker header-top"></div>
                      <div class="background-masker header-left"></div>
                      <div class="background-masker header-right"></div>
                      <div class="background-masker header-bottom"></div>
                      <div class="background-masker subheader-left"></div>
                      <div class="background-masker subheader-right"></div>
                      <div class="background-masker subheader-bottom"></div>
                      <div class="background-masker content-top"></div>
                      <div class="background-masker content-first-end"></div>
                      <div class="background-masker content-second-line"></div>
                      <div class="background-masker content-second-end"></div>
                      <div class="background-masker content-third-line"></div>
                      <div class="background-masker content-third-end"></div>
                  </div>
                  <br/>
                  <div class="animated-background1">
                      <div class="background-masker header-top"></div>
                      <div class="background-masker header-left"></div>
                      <div class="background-masker header-right"></div>
                      <div class="background-masker header-bottom"></div>
                      <div class="background-masker subheader-left"></div>
                      <div class="background-masker subheader-right"></div>
                      <div class="background-masker subheader-bottom"></div>
                      <div class="background-masker content-top"></div>
                      <div class="background-masker content-first-end"></div>
                      <div class="background-masker content-second-line"></div>
                      <div class="background-masker content-second-end"></div>
                      <div class="background-masker content-third-line"></div>
                      <div class="background-masker content-third-end"></div>
                  </div>
                  <br/>
                  <div class="animated-background2">
                      <div class="background-masker header-top"></div>
                      <div class="background-masker header-left"></div>
                      <div class="background-masker header-right"></div>
                      <div class="background-masker header-bottom"></div>
                      <div class="background-masker subheader-left"></div>
                      <div class="background-masker subheader-right"></div>
                      <div class="background-masker subheader-bottom"></div>
                      <div class="background-masker content-top"></div>
                      <div class="background-masker content-first-end"></div>
                      <div class="background-masker content-second-line"></div>
                      <div class="background-masker content-second-end"></div>
                      <div class="background-masker content-third-line"></div>
                      <div class="background-masker content-third-end"></div>
                  </div>
                </div>
        </div>

                <div class="timeline-wrapper" *ngIf="afficher_spinner_messagepublic">
                    <br/>
                    <div class="timeline-item">
                        <div class="animated-background">
                            <div class="background-masker header-top"></div>
                            <div class="background-masker header-left"></div>
                            <div class="background-masker header-right"></div>
                            <div class="background-masker header-bottom"></div>
                            <div class="background-masker subheader-left"></div>
                            <div class="background-masker subheader-right"></div>
                            <div class="background-masker subheader-bottom"></div>
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>

                        <div class="animated-background2">
                            <div class="background-masker header-top"></div>
                            <div class="background-masker header-left"></div>
                            <div class="background-masker header-right"></div>
                            <div class="background-masker header-bottom"></div>
                            <div class="background-masker subheader-left"></div>
                            <div class="background-masker subheader-right"></div>
                            <div class="background-masker subheader-bottom"></div>
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                        <br/>
                        <div class="animated-background1">
                            <div class="background-masker header-top"></div>
                            <div class="background-masker header-left"></div>
                            <div class="background-masker header-right"></div>
                            <div class="background-masker header-bottom"></div>
                            <div class="background-masker subheader-left"></div>
                            <div class="background-masker subheader-right"></div>
                            <div class="background-masker subheader-bottom"></div>
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                        <br/>
                        <div class="animated-background1">
                            <div class="background-masker header-top"></div>
                            <div class="background-masker header-left"></div>
                            <div class="background-masker header-right"></div>
                            <div class="background-masker header-bottom"></div>
                            <div class="background-masker subheader-left"></div>
                            <div class="background-masker subheader-right"></div>
                            <div class="background-masker subheader-bottom"></div>
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                        <br/>
                        <div class="animated-background1">
                            <div class="background-masker header-top"></div>
                            <div class="background-masker header-left"></div>
                            <div class="background-masker header-right"></div>
                            <div class="background-masker header-bottom"></div>
                            <div class="background-masker subheader-left"></div>
                            <div class="background-masker subheader-right"></div>
                            <div class="background-masker subheader-bottom"></div>
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                        <br/>
                        <div class="animated-background2">
                            <div class="background-masker header-top"></div>
                            <div class="background-masker header-left"></div>
                            <div class="background-masker header-right"></div>
                            <div class="background-masker header-bottom"></div>
                            <div class="background-masker subheader-left"></div>
                            <div class="background-masker subheader-right"></div>
                            <div class="background-masker subheader-bottom"></div>
                            <div class="background-masker content-top"></div>
                            <div class="background-masker content-first-end"></div>
                            <div class="background-masker content-second-line"></div>
                            <div class="background-masker content-second-end"></div>
                            <div class="background-masker content-third-line"></div>
                            <div class="background-masker content-third-end"></div>
                        </div>
                    </div>
                </div>

        <br/>
        <app-publicconvert  *ngFor="let convert of publicmessages; let i = index"
                            [indexOfConvert]="i"
                            [name]="convert.name"
                            [updated]="convert.updated"
                            [user_photo]="convert.user_photo"
                            [status_text_content]="convert.status_text_content"
                            [etat_photo]="convert.etat_photo"
                            [etat_photo_status]="convert.etat_photo_status"
                            [status_photo]="convert.status_photo"
                            [countcomment] = "convert.countcomment"
                            [jaime] = "convert.countjaime"
                            [jaimepas] = "convert.countjaimepas"
                            [checkmention] = "convert.checkmention"
                            [id_checkmention] = "convert.id_checkmention"
                            [visibility] = "convert.visibility"
                            [id]="convert.id"
                            [user_id]="convert.user_id"
        ></app-publicconvert>

      </div>
      </div>
      </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label class="tabs-toolbar-1" >
                <mat-icon matBadgeHidden="{{badgehidden_public_message}}" matBadge="{{badgetaille_public_message}}" matBadgeColor="warn" [ngStyle]="{color:getColor(IconEtatColorPrivateConver)}"   class="example-tab-icon" id="icon-color">chat_bubble</mat-icon>
            </ng-template>
            <div class="block-message-1">
                <mat-card class="example-card">
                    <app-privaterecentconvert *ngFor="let recent of privaterecentConvertHome; let i = index"
                           [indexOfConvert]="i"
                           [name]="recent.name"
                           [user_photo]="recent.user_photo"
                           [id]="recent.id"
                    ></app-privaterecentconvert>
                </mat-card>
            </div>
            <div class="block-message-2">
                <mat-card class="card-block-column-2">Simple card</mat-card>
            </div>
            <div class="block-message-3">
                <mat-card class="example-card">
                    <app-private-user-online *ngFor="let useronline of privateusersOnlineHome; let i = index"
                                  [indexOfConvert]="i"
                                  [name]="useronline.name"
                                  [user_photo]="useronline.user_photo"
                                  [id]="useronline.id"
                    ></app-private-user-online>


                </mat-card>

            </div>

  </mat-tab>

</mat-tab-group>

<!--Le block de la boite de dialogue Message Public-->
<div class="dialgo-block" [ngStyle]="{'display':''+this.updateservice.block_boite_de_dialogue+''}">


  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-1" fxFlex="20%"></div>
    <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
    </div>
    <div class="item item-3" fxFlex="60%">
      <br/><br/><br/>
      <mat-card class="example-card">

        <button mat-icon-button  (click)="onpenFileBrowser($event)">
          <mat-icon aria-label="Example icon-button with a heart icon">add_photo_alternate</mat-icon>
        </button>

        <button mat-icon-button class="close-user-button" (click)="onCloseDialog()" *ngIf="this.updateservice.dialog_update_or_display">
          <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>

        <button mat-icon-button class="close-user-button" (click)="onCloseUpdateDialog()" *ngIf="!this.updateservice.dialog_update_or_display">
              <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
        </button>

        <mat-card-content>
          <div class="connexion-form">
            <mat-divider></mat-divider>
            <br/>
            <button mat-icon-button style="color: red;" [ngStyle]="{'display':''+this.updateservice.disparaitreimage+''}" (click)="OnSupprimerPhoto()">
              <mat-icon >cancel</mat-icon>
            </button>
            <img [src]="this.updateservice.imageSrc" alt="photo message publique" id="borderimage" [ngStyle]="{'display':''+this.updateservice.disparaitreimage+''}" />
            <mat-progress-bar mode="indeterminate" [ngStyle]="{'display':''+this.updateservice.disparaitreprogressbar+''}"></mat-progress-bar>
            <!--form [formGroup]="this.updateservice.messagepublicform" (ngSubmit)="onSubmitForm()"-->
              <div  [ngStyle]="{'display':'none'}" id="blockmaleosama">
                    <input type="file"  (change)="onChangeFile($event)" id="tenantPhotoId"  #fileInput/>
              </div>
              <!--mat-form-field class="example-full-width" [ngStyle]="{'display':''+disparaitrechamp+''}">
                <input matInput placeholder="Votre Problematique" formControlName="problematique" id="problematique" autocomplete="off" />
              </mat-form-field> <br/-->
              <mat-form-field appearance="fill" class="example-full-width background-message-public-form-block" [ngStyle]="{'display':''+this.updateservice.disparaitrechamp+''}">
                    <textarea  matInput placeholder="Votre Message Public" [(ngModel)]="this.updateservice.libellemessagepublic" id="problematique" autocomplete="off" rows="10">

                    </textarea>
              </mat-form-field>
              <button mat-raised-button type='submit' color="primary" [ngStyle]="{'display':''+this.updateservice.disparaitrechamp+''}" (click)="addMessagePublic()" class="example-full-width">{{this.updateservice.libelle_photo}}</button>
            <!--/form-->
            <br/>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>

        <mat-card-actions>
          <div class="connexion-form">
          </div>
        </mat-card-actions>


      </mat-card>

    </div>
  </div>

</div>


    <!--Le block de la boite de dialogue de suppression-->
    <div class="dialgo-block" [ngStyle]="{'display':''+this.deletemessgepublocservice.displaydialog+''}">

        <div class="container"
             fxLayout
             fxLayout.xs="column"
             fxLayoutAlign="center"
             fxLayoutGap="10px"
             fxLayoutGap.xs="0">
            <div class="item item-1" fxFlex="20%"></div>
            <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
            </div>
            <div class="item item-3" fxFlex="60%">
                <br/><br/><br/>
                <mat-card class="example-card">
                    <span *ngIf="visible_delete_progressbar">Voulez-vous supprimer ce message public ?</span>
                    <br *ngIf="visible_delete_progressbar"/><br *ngIf="visible_delete_progressbar"/>
                    <mat-progress-bar mode="indeterminate" *ngIf="!visible_delete_progressbar"></mat-progress-bar>
                    <mat-divider *ngIf="visible_delete_progressbar"></mat-divider>
                    <br *ngIf="visible_delete_progressbar"/>
                    <div *ngIf="visible_delete_progressbar">
                        <button mat-button (click)="deletemessagepublic()">Oui</button>
                        <button mat-button (click)="deletecloseDialog()">Non</button>
                    </div>
                </mat-card>

            </div>
        </div>
    </div>

    <!--Le block de la boite de dialogue de suppression-->
    <div class="dialgo-block" [ngStyle]="{'display':''+this.progressbaractivationmodeanonymous+''}">

        <div class="container"
             fxLayout
             fxLayout.xs="column"
             fxLayoutAlign="center"
             fxLayoutGap="10px"
             fxLayoutGap.xs="0">
            <div class="item item-1" fxFlex="20%"></div>
            <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
            </div>
            <div class="item item-3" fxFlex="60%">
                <br/><br/><br/>
                <mat-card class="example-card">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </mat-card>

            </div>
        </div>
    </div>


