<div id='block_spinner'><mat-spinner *ngIf="this.problematiqueitemservice.afficher_spinner"  class="progressbar"></mat-spinner></div>


<mat-toolbar color="primary" class="block-toolbar" *ngIf="!this.problematiqueitemservice.afficher_spinner">

  <button mat-icon-button  (click)="OnBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <span class="example-spacer"></span>


  <mat-form-field class="example-full-width">
    <input (keyup)="onSearchProb($event)"  [(ngModel)]="libelle_catprob" matInput placeholder="Rechercher" type="text"/>
  </mat-form-field>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Profil</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Parametres</span>
    </button>
    <button mat-menu-item>
      <mat-icon>help</mat-icon>
      <span>A propos</span>
    </button>
    <button mat-menu-item (click)="OnDeconnect()">
      <mat-icon>power_settings_new</mat-icon>
      <span>Deconnexion</span>
    </button>
  </mat-menu>

</mat-toolbar>


  <br/><br/><br/><br/>
  <div id='block_spinner1'><mat-spinner *ngIf="this.problematiqueitemservice.afficher_spinner_probgen"  class="progressbar"></mat-spinner></div>
  <mat-card class="example-card" *ngIf="!this.problematiqueitemservice.afficher_spinner_probgen">

    <app-problematique-item *ngFor="let prob of this.problematiqueitemservice.problematiques; let i = index"
                            [index]="i"
                            [name] = "prob.Libelle"
                            [id] = "prob.ID"
    >
    </app-problematique-item>


  </mat-card>

